#registerProjectForm{
	 width: 600px;
 	margin: 0 auto;
}
#projectRegisterLogo{
	 font-size: 50px;
 color: #404040;
 margin: 0 auto;
 text-align: center;
 text-transform: capitalize;
 font-family: "맑은 고딕";
 font-style: italic;
 margin: 60px;
}
input[id="regProBtn"] {
 margin-left : 150px;
 border-radius: 5px;
}


.regform{
	color:black;
	margin:80px;
	padding:40px;
	 border: 5px double #999;
	 border-radius: 25px;
	 font-size: 19px;
	font-family: "맑은 고딕";
}


#view{
	 width: 600px;
 	margin: 0 auto;
	padding:40px;
	 border: 5px double #999;
	 border-radius: 25px;
}
#viewForm{
	color:black;
	 font-size: 19px;
	font-family: "맑은 고딕";
}
#space{
	height:200px;
}
input[id="joinProBtn"] {
 margin-left : 140px;
 border-radius: 5px;
}

input[id="joinProBtn2"] {
 margin-left : 130px;
 border-radius: 5px;
}

#main_viewForm1{
	margin-bottom: 80px;
	margin-left:300px;
	cursor: pointer;
}



#commentForm{
	padding-top:50px;
}
#commentTable{
	width: 500px;
}
#writer{
	width: 16%;
}
#date{
	width: 24%;
}
#writeCommentForm{
	font-size : 19px;
	padding : 20px;
	text-align: right;
}
#commentTextContent{
	width: 380px;
	font-size: 18px;
	font-family: "맑은 고딕";
}
#writeComment{
	margin: 10px;
}
#commentTextContentNoLogin{
	width: 380px;
	font-size: 18px;
	font-family: "맑은 고딕";
	margin-top: 20px;
	padding-left : 10px;
}
#writeCommentLogin{
	margin: 10px;
}



#manageForm{
	color:black;
	 font-size: 15px;
	font-family: "맑은 고딕";
	text-align: left;
}
#manageFormView{
	 width: 700px;
 	margin-left: 330px;
	padding:10px;
	 border: 5px double #999;
	 border-radius: 25px;
	 text-align: center;
}
#manageSpace{
	margin-bottom: 160px;
}
#regProViewForm{
	margin-left: 15px;
}
#projectMainLogo{
	font-size: 50px;
 color: #404040;
 margin: 0 auto;
 text-align: center;
 text-transform: capitalize;
 font-family: "맑은 고딕";
 font-style: italic;
 margin: 20px;
}
