#registerProjectForm{
	 width: 600px;
 	margin: 0 auto;
}
#projectRegisterLogo{
	 font-size: 50px;
 color: #404040;
 margin: 0 auto;
 text-align: center;
 text-transform: capitalize;
 font-family: "맑은 고딕";
 font-style: italic;
 margin: 60px;
}
input[id="regProBtn"] {
 margin-left : 150px;
 border-radius: 5px;
}


.regform{
	color:black;
	margin:80px;
	padding:40px;
	 border: 5px double #999;
	 border-radius: 25px;
	 font-size: 19px;
	font-family: "HY나무B";
}


#view{
	 width: 600px;
 	margin: 0 auto;
	padding:40px;
	 border: 5px double #999;
	 border-radius: 25px;
}
#viewForm{
	color:black;
	 font-size: 19px;
	font-family: "HY나무B";
}
#space{
	height:200px;
}
input[id="joinProBtn"] {
 margin-left : 140px;
 border-radius: 5px;
}

input[id="joinProBtn2"] {
 margin-left : 130px;
 border-radius: 5px;
}




#listView{
	 width: 1000px;
 	margin: 0 auto;
	padding:10px;
	 border: 5px double #999;
	 border-radius: 25px;
}
#listViewForm{
	color:black;
	 font-size: 20px;
	font-family: "HY나무B";
}
#listSpace{
	height:160px;
}

table.listTable{
	text-align: center;
}
.listTable th,td {padding:5px 10px} /* 상하 여백 5 좌우 여백 10 */
.listTable tbody tr:hover {background:#E6E6FA} /* 각 행에 마우스 커서를 올렸을 때 배경 색  */
.listTable .project_date{
	width: 10%;
}
.listTable .projectName{
	width: 40%;
	text-align: center;
}
.listTable .writer{
	text-align: center;
	width: 15%;
}
.listTable .projectAchieve{
	text-align: center;
	width: 15%;
}
.listTable .point{
	width: 16%;
	text-align: center;
}
.listTable .deadline{
	width: 10%;
	font-size: 19px;
}
.listTable .project_date{
	width: 10%;
}



#main_viewForm{
	margin: 70px;
	margin-left:400px;
}
#create{
	padding: 10px; 
	cursor: pointer;
}
#Join{
	padding: 10px; 
	cursor: pointer;
}
#want{
	padding: 10px; 
	cursor: pointer;
}
#manage{
	padding: 10px; 
	cursor: pointer;
}



#commentForm{
	padding-top:50px;
}
#commentTable{
	width: 500px;
}
#writer{
	width: 16%;
}
#date{
	width: 24%;
}
#writeCommentForm{
	font-size : 19px;
	padding : 20px;
	text-align: right;
}
#commentTextContent{
	width: 380px;
	font-size: 18px;
	font-family: "HY나무B";
}
#writeComment{
	margin: 10px;
}
#commentTextContentNoLogin{
	width: 380px;
	font-size: 18px;
	font-family: "HY나무B";
	margin-top: 20px;
	padding-left : 10px;
}
#writeCommentLogin{
	margin: 10px;
}



#manageForm{
	color:black;
	 font-size: 19px;
	font-family: "HY나무B";
	text-align: left;
}
#manageFormView{
	 width: 500px;
 	margin: 0 auto;
	padding:10px;
	 border: 5px double #999;
	 border-radius: 25px;
	 text-align: center;
}
#manageSpace{
	height: 160px;
}
